body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#welcome-section {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    height: 100vh; 
}

h1 {
    font-size: 36px;
}

#projects {
    padding: 40px;
}

.project-tile {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
}

.project-tile h2 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #007bff;
}

#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

#navbar a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    #projects {
        padding: 20px;
    }

    .project-tile {
        padding: 10px;
    }
}
